html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}
.App {
  text-align: center;
  background-color: #282c34;
  color: white;
}

.App-logo {
  height: 30vw;
  pointer-events: none;
  filter: invert();
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

#pokemon-cards {
    margin-top: 200px;
}


.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  }

.gift {
    max-width: 120px;
    filter: invert();
}

#gifts p {
    font-size: 35px;
    max-width: 1200px;
    margin: 0 auto 0;
    padding-top: 150px;
}